@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import "tailwindcss";



@utility font-lilita {
  font-family: "Lilita One", cursive;
}


body {
  background-color: #fafafa;
  background-image:
    linear-gradient(#e0e0e0 1px, transparent 1.5px), 
    linear-gradient(90deg, #e0e0e0 1px, transparent 1.5px); 
    
  background-size: 40px 40px;
  background-attachment: fixed; 
  animation: moveGrid 2s linear infinite;
}

/* Animation */
@keyframes moveGrid {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 40px 40px, 40px 40px; /* moves one full grid unit diagonally */
  }
}



